body {
    margin: 0;
}

#game {
    margin: auto;
    display: block;
    width: 598px;
    height: 506px;
    border-style: solid;
    border-width: 1px;
    font-size: 40px;
}

#game .screen {
    width: 100%;
    height: 100%;
    display: none;
}

#game .screen.active {
    display: block;
}

#main-menu {
    font-size: 0.75em;
}

#game div h1 {
    font-size: 1em;
    text-align: center;
    margin: 0px;
}